<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action= '/your_albums' method="POST">
        album_name: <input type="text" name= "album_name">
        album_year: <input type="text" name="album_year">
        artist_ID: <input type = "text" name = "artist_id">

        <input type="submit">
    
    </form>

    
</body>
</html>