<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


        <% if (your_artist.length > 0) { %>
           <% for (i=0 ; i < your_artist.length; i++) { %>
                <h1> YOUR ARTIST'S NAME: <%= your_artist[i].artist_name %></h1>
            <%}%>
        <%}%>
</body>
</html>