<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <% if (your_track > 0){ %>
            <% for (i =0; i < your_track; i++){ %>
                <h1> YOUR TRACK: <%= your_track[i].track_name %> </h1>
                <h2> YOUR ALBUM ID <%= your_track[i].album_id %></h2>
                <h3> SONG DURATION <%= your_track[i].track_duration %></h3>
           <% } %>
       <% } %>
    
</body>
</html>